*{
    margin: 0;
    padding:0;
}

html{
    height:100%;
}

html,body { min-height: 100%;height:100%; }

#wrapper{
    min-height: 100%;
    position: relative;
}


/*HEADER*/
#header{
    background: #E64A19;
    margin-bottom: 50px;
}

#header h1{
    color: white;
    margin-bottom: 50px;
    font-family: 'Ruslan Display', cursive;
    text-align: center;
    padding-top: 50px;
}

/*CONTENT*/
#content {
    padding-bottom: 196px;
}

/*FOOTER*/
#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 20px;
}

#gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#gallery img {
    width: 200%;
}

div.container{
    width: 100%;
}

div.columnThird{
    width:33%;
    text-align: center;
    display: inline-block;
}

.columnThird li{
    list-style:none;
    padding:5px;
    margin-left: 10px;
    padding:0px;
    margin:0px;
}

.top{
    vertical-align: top;
}

.loc{
    width: 50%;
    margin:0 auto;
}

.loc p{
    text-align: left;
}

.loc i{
    padding-right:10px;
    margin-bottom:5px;
}

.columnThird h3{
    color: #E64A19;
}

.columnThird a{
    color: white;
    text-decoration: none;
}

p.copyright{
    color: white;
}

.loc p, .loc i{
    color: white;
}
/* MENU Horitzontal*/

ul.menu a{
    text-decoration: none;
    display: block;     /* Per a que el link agafe l'espai del seu pare*/
    padding:10px;
    color: white;
    width: 100px;
}

ul.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    background-color: #333;
    text-align: center;
    margin: 0 0 5px;
}

.menu li{
    display: inline-block;
    position: relative;
}

ul.menu li:hover{
    background: white;
}
ul.menu li:hover a{
    color: #333;
}

ul.menu ul{
    opacity: 0;
    position: absolute;
    left:0;
    top:35px;
    background: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: opacity 0.3s;
    z-index:-5;
}

ul.menu ul li:hover{
    background-color: #333;
}

ul.menu ul li:hover a{
    color: white;
}

.submenu a{
    color: #333;
}

ul.menu li:hover ul {
    opacity: 1;
    transition: all 0.3s;
    z-index: 5;
}


/*SITE MAP*/
.sitemap{
    padding: 0px;
    maxgin: 0px;
    text-align: center;
}

.sitemap ul{
    padding-top: 50px;
    width: 10%;
    margin: 0 auto;
    list-style: none;
    text-align: left;
}
.sitemap p{
    position: relative;
    display: block;
}
.sitemap p:before{
    position: absolute;
    width: 30%;
    height:2px;
    color:  #E64A19;
}

.sitemap li a{
    display: block;
    padding:10px;
    position: relative;
    color: black;
    text-decoration: none;
}

.sitemap li a:hover::before{
    color: #E64A19;
}

.sitemap a:before{
    content: "\f0da";
    font-family:FontAwesome;
    position: absolute;
    left:-10px;
}

/*news*/

.newsItem {
    /*float: left;*/
    margin: 20px;
    width: 20%;
    min-width: 150px;
    max-width: 300px;
    /*border: 1px solid black;*/
}

#news {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.newsItem h3 p {
    text-align: justify;
}

.newsItem img{
    width: 100%;
}

.after-box {
    clear: left;
}

.productsList table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
}

.productsList img{
    height: 100px;
    text-align: center;
}

.productsList tr {
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
}

.productsList tr:hover {
    background-color: #f5f5f5
}

.productsList td {
    vertical-align: center;
    padding: 10px 30px;
}
.productsList p {
    text-align: justify;
}

.price {
    color: #666;
    font-weight: bold;
}

/*Contact*/

#contact{
    text-align: center;
}

#contact i{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#contact .container h2{
    margin-bottom: 50px;
}

#contact .columnThird {
    height: 100px;
    vertical-align: middle;
    background-color: #333;
    color: white;
}

/*NEWS Page*/
#newsPage{
    width:100%;
    padding:10px;
    text-align: center;
}
#newsPage .event{
    width:20%;
    height:300px;
    border-radius: 3px;
    background:  #E64A19;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    display: inline-block;
    margin:50px;
    padding:10px;
    vertical-align: bottom;
    position: relative;
}

.event span.date {
    color: white;
    top:0;
    text-align: center;
}

.event span.body{
    display: block;
}

.event img{
    height:200px;
    width:auto;
    padding:10px;
}


/*Shop*/

#wrapper.shop-page{
    background: url("../img/shop/bg.jpg") no-repeat;
    background-size:cover;
}